{% extends 'base.html' %}

{% block styles %}
<style>
    body, html {
      height: 100%;
    }

    .msg-box {
      flex: 1;
      overflow-y: auto;
    }

    .msg-list {
      padding-left: 0;
    }

    .msg {
      margin-bottom: 15px;
      list-style: none;
    }

    .msg-text {
      padding: 10px;
      border-radius: 5px;
    }

    .sent {
      align-self: flex-end;
    }

    .received {
      background-color: #f1f0f0;
      align-self: flex-start;
    }

    .msg-form {
      display: flex;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 10px;
      background-color: #f2f3f4;
    }

    .msg-input {
      flex: 1;
      border-radius: 0;
      border-right: none;
    }

    .btn-send {
      border-radius: 0;
      background-color:#000000
    }

    .chat-container {
      height: 100%;
      display: flex;
      flex-direction: column;
    }
  </style>
{% endblock %}


{% block content %}
<div class="chat-container">
  <div class="card flex-grow-1">
    <div class="card-header text-black">Language Learning Assistant</div>
    {% if user.is_authenticated %}
    <div class="card-header text-black"><a style="color: black" href="logout">Logout</a>
    {% else %}
    <div class="card-header text-black"><a style="color: black" href="register">Register</a> <a style="color: black" href="login">Login</a>
    {% endif %}
    <div class="card-body msg-box">
      
      <ul class="list-unstyled msg-list">
        
        <li class="msg received">
          <div class="msg-text">
            <div class="msg-sender">
              <b>Language Learning Assistant</b>
            </div>
            {% if user.is_authenticated %}
            <div class="msg-content">
              Welcome {{user.username}}, I am your Language Learning Assistant. You can request practice quizzes, conversation practice, or language facts.
            {% else %}
            <div class="msg-content">
              Welcome User, please consider registering so I can assist you to the fullest!
            {% endif %}
            </div>
          </div>
        </li>
        
        {% if user.is_authenticated %}
          {% for chat in chats %}
            {% if chat.user == request.user %}
            <li class="msg sent">
            <div class="msg-text">
              <div class="msg-sender">
                <b>{{user.username}}</b>
              </div>
              <div class="msg-content">
                {{chat.msg}}
              </div>
            </div>
          </li>

          <li class="msg received">
            <div class="msg-text">
              <div class="msg-sender">
                <b>Language Learning Assistant</b>
              </div>
              <div class="msg-content">
                {{chat.response}}
              </div>
            </div>
          </li>
            {% endif %}
          {% endfor %}
        {% endif %}

      </ul>

    </div>
    <br><br>
    <br><br>
    <br><br>
  </div>
  <form class="msg-form">
    {%csrf_token%}
    <div class="input-group">
      <input type="text" class="form-control msg-input" id="msg-input" placeholder="Type your message...">
      <div class="input-group-append">
        <button type="button" class="btn btn-secondary btn-speech" id="speech-btn">Mic</button>
        <button type="submit" class="btn btn-primary btn-send">Send</button>
      </div>
    </div>
  </form>
</div>

<script>
  const msgList = document.querySelector('.msg-list');
  const msgForm = document.querySelector('.msg-form');
  const msgInput = document.querySelector('#msg-input');
  const speechBtn = document.querySelector('#speech-btn');

  let listening = false;
  let recognize;

  function speechRecognition() {
    const recognize = new(window.SpeechRecognition || window.webkitSpeechRecognition)();
    recognize.lang = 'en-US';
    recognize.maxAlternatives = 1;
    recognize.interimResults = true;

    recognize.onresult = (event) => {
      const transcript = event.results[event.resultIndex][0].transcript; 
      msgInput.value = transcript; 
      msgInput.focus(); 
    };

    recognize.onerror = (event) => {
      console.error(event.error);
    };

    recognize.onend = () => {
      if (listening) {
        recognize.start();
      } else {
        updateButton();
      }
    };
    
    recognize.start();
  }

  function toggleListening() {
    if(listening) {
      recognize.stop();
      listening = false;
    } else {
      speechRecognition();
      recognize.start();
      listening = true;
    }
    updateButton();
  }

  function updateButton() {
    if (listening) {
      speechBtn.classList.add('listening');
      speechBtn.textContent = 'Stop';
    } else {
      speechBtn.classList.remove('listening');
      speechBtn.textContent = 'Mic';
    }
  }

  updateButton();

  speechBtn.addEventListener('click', toggleListening);
  

  msgForm.addEventListener('submit', (event) => {
    event.preventDefault();

    const msg = msgInput.value.trim();
    if(msg.length === 0) {
      return;
    }

    const msgItem = document.createElement('li');
    msgItem.classList.add('msg', 'sent');
    msgItem.innerHTML = `
      <div class = "msg-text">
        {% if user.is_authenticated %}
        <div class = "msg-sender">
          <b>{{user.username}}</b>
        {% else %}
        <div class = "msg-sender">
          <b>User</b>
        {% endif %}
        </div>
        <div class = "msg-content">
          ${msg}
        </div>
      </div>`;
      msgList.appendChild(msgItem);

      msgInput.value = '';

      fetch('', {
        method: 'POST',
        headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
        body: new URLSearchParams({
          'csrfmiddlewaretoken': document.querySelector('[name=csrfmiddlewaretoken]').value,
          'msg': msg
        })
      })
        .then(response => response.json())
        .then(data => {
          const response = data.response;
          const msgItem = document.createElement('li');
          msgItem.classList.add('msg', 'received');
          msgItem.innerHTML = `
          <div class = "msg-text">
            <div class = "msg-sender">
              <b>Language Learning Assistant</b>
            </div>
            <div class = "msg-content">
                ${response}
            </div>
          </div>
          `;
          msgList.appendChild(msgItem);
        })
  })
</script>

{% endblock %}