{% extends 'base.html' %}

{% block title %}Quiz Scores{% endblock %}

{% block styles %}
<style>
  body {
    background-color: #f0f0f0;
  }
  .scores-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .card {
    max-width: 400px;
  }
  .card-header {
    background-color: #000000;
    color: white;
    font-size: 24px;
    font-family: 'Helvetica';
    font-weight: bold;
    text-align: center;
  }
  .card-body {
    padding: 30px;
  }
  .form-group {
    margin-bottom: 20px;
  }
  label {
    font-weight: bold;
    font-family: 'Helvetica';
    display: block;
    margin-bottom: 5px;
  }
  
  
</style>
{% endblock %}

{% block content %}
<div class="scores-container">
  <div class="card">
    <div class="card-header">Your Quiz Scores</div>
    <div class="card-body">
      <h2>Overall</h2>
      <div><p>Total Score: {{ total_achieved_score }} / {{ total_possible_score }}</p></div>
      <div class="return-button">
        <a href="usersettings" class="btn btn-secondary">Return</a>
      </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}